.container {
    display: inline-block;
    width: max-content;
    margin: 0 4px;
    font-size: 16px;
}

.groupLabel {
    font-weight: 600;
    margin-bottom: 16px;
}

.itemLabelContainer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

input {
    margin-right: 8px;
}

.radioImage {
    width: 45px;
    aspect-ratio: 14/9;
    margin-right: 8px;
}